---
# tasks file for hswong3i.gluster

- name: include release specific variables
  include_vars: "{{ ansible_distribution_release }}.yml"
  tags: hswong3i.gluster

- name: apt-add-repository
  apt_repository:
    repo: "{{ item.repo }}"
    state: "{{ item.state }}"
  with_items: "{{ _apt_repository }}"
  tags: hswong3i.gluster

- name: apt-get install
  apt:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
  with_items: "{{ _apt }}"
  notify: restart gluster
  tags: hswong3i.gluster

- name: enable service
  service:
    name: "glusterfs-server"
    enabled: "yes"
  notify: restart gluster
  tags: hswong3i.gluster
